:root {
    --appHeaderHeight: 60px;
}

body * {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, #root {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

main {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #fff;
}

h1,
p {
    margin: 0;
}

.wrapper {
    max-width: 730px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.app-header {
    border-bottom: 1px solid gray;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: var(--appHeaderHeight);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.app-header button {
    height: var(--appHeaderHeight);
    border: none;
    background: #fff;
    padding: 0 16px;
}

.app-header button:hover {
    cursor: pointer;
}

.app-header button > .svg-inline--fa {
    width: 14px;
    height: auto;
}

.mj-page {
    height: calc(100vh - 60px);
    width: 100%;
    margin-top: var(--appHeaderHeight);
    padding-top: 0;
    overflow: hidden;
    overflow-y: auto;
}

.mj-page-content {
    padding: 40px;
}

.mj-page-content-header {
    margin-bottom: 40px;
}

.app-navigation {
    width: 215px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    z-index: 100;
    background-color: gray;
    color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
}

.app-navigation .navigation-header {
    padding-left: 25px;
    height: var(--appHeaderHeight);
    display: flex;
    align-items: center;
}

.app-navigation:not(.is-collapsed) {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-list a {
    width: 100%;
    padding: 11px 25px;
    line-height: 20px;
    color: #fff;
    opacity: 0.6;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.navigation-list a.active {
    opacity: 1;
}

.app-navigation + main,
.app-navigation + main > .mj-page,
.app-navigation + main > .app-header,
.app-navigation + main > .app-header button {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

@media screen and (min-width: 961px) {
    .app-navigation:not(.is-collapsed) + main {
        width: calc(100vw - 215px);
        margin-left: 215px;
    }
    .app-navigation:not(.is-collapsed) + main > .app-header {
        left: 215px;
    }
}
  
  @media screen and (max-width: 960px) {
    .app-navigation:not(.is-collapsed) + main .app-header .header-left button {
        -webkit-transform: translateX(215px);
        transform: translateX(215px);
    }
}

.app-sidebar {
    padding: 20px 0;
    width: 300px;
    height: 100vh;
    background: lightgray;
    position: fixed;
    z-index: 90;
    top: 0;
    bottom: 0;
    left: 100%;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
}
  
.app-sidebar:not(.is-invisible) {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
  
.app-sidebar > * {
    padding: 20px;
}
  
@media screen and (min-width: 961px) {
    .app-sidebar:not(.is-invisible) ~ .app-header {
        right: 300px;
    }
    .app-sidebar:not(.is-invisible) ~ .mj-page {
        width: calc(100% - 300px);
    }
}
  
  @media screen and (max-width: 960px) {
    .app-sidebar:not(.is-invisible) ~ .app-header .header-right button {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
}

.mj-card-list-title {
    margin: 60px 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.mj-card-form,
.mj-card {
    width: 100%;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 5px;
}

.mj-card {
    margin-bottom: 20px;
}

.mj-card > header {
    display: flex;
}

.mj-card-meta {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 10px;
}

.mj-card-meta > li {
    font-size: 16px;
    font-size: 1rem;
    float: left;
    position: relative;
    margin-left: 10px;
}

.mj-card-meta > li:first-child {
    margin-left: 0;
}

.mj-card-form {
    min-height: 191px;
  }
  
.mj-card-form textarea {
    width: 100%;
    resize: none;
    height: 80px;
}

.mj-refl {
    padding: 25px 0 10px;
}

.refl-footer {
    width: 100%;
    border-top: 1px solid gray;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.refl-footer > .wrapper {
    height: var(--appHeaderHeight);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}